
	table.tableizer-table {
		
	} 
	.tableizer-table td {
		padding: 4px;
		margin: 3px;
		border: 1px solid #CCC;
		background-color: #104E8B;
	}
	.tableizer-table th {

	}
		
                           
